services:
  frontend: 
    build: ./frontend
    container_name: push_frontend
    expose:
      - "5173"
    ports:
      - "5173:5173"

  db:
    image: postgres:16
    container_name: push_postgres
    environment:
      POSTGRES_DB: push_db
      POSTGRES_USER: push_user
      POSTGRES_PASSWORD: push_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    container_name: push_backend
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    container_name: push_nginx
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend

volumes:
  postgres_data: